*{
    margin:0;
    padding:0;
    box-sizing: border-box;


}
body{
    font-family: 'Open Sans',sans-serif;
}
/* COMMONS */
.clearfix::after{
    display: table;
    content: "";
    clear: both;
}
.col{
    float: left;
}
.container{
    width:80%;
    margin: auto;
}
/* elimino l'elenco puntato */
li{
    list-style: none;
}
a{
   text-decoration: none;
}
h2{
    font-size: 40px;
}
/* buttons */
.button{
   color:white;
   background-color: #0161ff; 
   padding: 6px 15px;
   display: inline-block;
}
.underline-blue{
    text-decoration:underline blue;
    color: blue;
}
/* END COMMONS */

/* HEADER */

/* dimensione colonna right*/
nav > .col-right-header{
    width: 50%;
}
/* dimensione colonna left*/
nav > .col-left-header{
    width: 50%;
}
/* dispongo inline-block gli elementi dentro le ul */
nav li{
    display: inline-block;
    vertical-align: middle;
}
/* allineamento a destrail testo */
.col-left-header{
    text-align: right;
}
/* link colore nero e margini*/
nav a{
    color: black;
    margin-right: 30px;
}
/* margini elementi esterni al nav */
.logo{
    margin-right: 30px;
    margin-left: 20px;
}
nav .button{

    margin-right: 20px;
    margin-left: 30px;
}
/* padding e background */
nav .col{
    padding:20px 0;
    background-color: white;
}



/* END HEADER */

/* MAIN */
/* SLIDER */
/* dimensione colonna sinistra main */
.col-left-slider{
    width:35%
}
/* dimensione colonna destra main */
.col-right-slider{
    width:65%;
}
/* titolo */
.title{
    font-size: 50px;
}
.col-left-slider > p{
padding-top:50px;
}
/* button slider */
.button-slider{
    margin-top: 30px;
    margin-bottom: 15px;
}
.fa-arrow-down{
    margin-top: 40px;
    font-size: 40px;
}
/* immagine slider */
.pictures > img{
    width: 900px;
}
.background-blue{
    background-color:#b4d0e7; 
    height: 650px;
}
/* END SLIDER */

/* PIANI DROPBOX BUSINESS */
.col-plane{
    width: 30%;
}
/* centratura titlo h3 dentro col plane */
.col-plane > h4{
    text-align: center;
}
/* padding delle colonne */
.col-plane-middle{
    margin:0 5%;
}
/* contenitore dropbox planner */
.container-dropbox-planner{
    padding:20px 10px;
}
/* radio button */
.circle{
    width: 17px;
    height: 17px;
    border-radius: 50%;
    border: 1px solid lightgrey;
    display: inline-block;
    vertical-align:middle;
}
.circle-due{
    margin-left:15px;
}
/* allineo le immagini e il testo */
.characteristic-dropbox-planner li{
    padding: 10px 10px 10px 20px;
}
.icon-dropbox-planner{
    margin-left: -20px;
}
/* ridimensionamento button prova gratis */
.button-prova-gratis{
    width: 100%;
    text-align: center;
}
/* bordo sulla scritta oppure */
.border-oppure{
    border-bottom: 1px solid lightgrey;
    padding-bottom: 20px;
}
/* END PIANI DROPBOX BUSINESS */

/* SECTION TEAM */

/* grandezza colonne section team */
.col-section-team-left{
    width: 75%;
}
.col-section-team-right{
    width: 25%;
}

/* END SECTION TEAM */

/* PARTNER DROPBOX */

/* dimensioni colonne partner dropbox */
.col-partner-dropbox-img, .col-partner-dropbox-text{
    width: 50%;
}
/* END PARTNER DROPBOX */

/* DROPBOX BUSINESS */
.col-dropbox-business{
    width: 30%;
}
/* margine colonne */
.col-middle-business{
    margin:0 5%;
}
/* END DROPBOX BUSINESS */

/* END MAIN */

/* FOOTER */
/* END FOOTER */