*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    border:1px solid black;
}
body{
    font-family: 'Open Sans',sans-serif;
}
/* COMMONS */
.clearfix::after{
    display: table;
    content: "";
    clear: both;
}
.col{
    float: left;
}
.container{
    width:80%;
    margin: auto;
}
/* END COMMONS */

/* HEADER */

/* dimensione colonna right*/
nav > .col-right-header{
    width: 50%;
}
/* dimensione colonna left*/
nav > .col-left-header{
    width: 50%;
}

/* END HEADER */

/* MAIN */
/* SLIDER */
/* dimensione colonna sinistra main */
.col-right-header{
    width:35%
}
/* dimensione colonna destra main */
.col-right-left{
    width:65%;
}
/* END SLIDER */

/* PIANI DROPBOX BUSINESS */
.col-plane{
    width: 30%;
}
/* centratura titlo h3 dentro col plane */
.col-plane > h3{
    text-align: center;
}
/* padding delle colonne */
.col-plane-middle{
    margin:0 5%;
}
/* contenitore dropbox planner */
.container-dropbox-planner{
    padding:20px 10px;
}
/* END PIANI DROPBOX BUSINESS */

/* SECTION TEAM */

/* grandezza colonne section team */
.col-section-team-left{
    width: 75%;
}
.col-section-team-right{
    width: 25%;
}

/* END SECTION TEAM */

/* PARTNER DROPBOX */

/* dimensioni colonne partner dropbox */
.col-partner-dropbox-img, .col-partner-dropbox-text{
    width: 50%;
}
/* END PARTNER DROPBOX */

/* END MAIN */

/* FOOTER */
/* END FOOTER */